<nav class="radio-header">
  <div class="radio-nav-container">
    <div class="radio-nav-left"></div>
    <h1 class="radio-title">
      <%= link_to "dan's radio", root_path %>
    </h1>
    <div class="radio-nav-right">
      <% if logged_in? %>
        <% if admin_user? %>
          <%= link_to "Admin", admin_root_path, class: "nav-btn nav-btn-admin" %>
        <% end %>
        <%= button_to "Logout", logout_path, method: :delete, class: "nav-btn nav-btn-logout" %>
      <% else %>
        <%= link_to "Login", login_path, class: "nav-btn nav-btn-login" %>
      <% end %>
    </div>
  </div>
</nav>

<% if flash[:notice] %>
  <div class="flash notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="flash alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="flash success">
    <%= flash[:success] %>
  </div>
<% end %>
